.modal-dialog{
    display: flex;
    align-items: center;
    justify-content: center;
        .close{
            border: none;
            background-color: white;
        }
        .modal-footer small a{
                text-decoration: none;
                color: black;
        }
}