.loading {
    width: 100%;
    text-align: right;
    margin-top: 100px;
  
    h5 {
      font-weight: normal;
      padding-top: 20px;
    }
  }

  .vac-ind {
      cursor: pointer;
        a{
            text-decoration: none;
            color: black;
             &:hover,
             &:focus,
             &:active {
                text-decoration: none;
                color: black;     
             }
        }
  }